/* Common Style */
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    width: 60%;
    margin: auto;
}

/* Main Style */

section {
    margin-bottom: 20px;
}

/* Input Field Style */
input {
    padding: 5px;
}

/* Button Style */
button {
    padding: 5px;
    cursor: pointer;
}

/* Footer Style */
.heart {
    color: red;
}